@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue {
  color: #6415ff;
}

a {
  text-decoration: none;
}

/*

NAV

*/

nav {
  height: 100px;
}

.row__nav {
  padding: 32px 32px 0 32px;
}

.nav__logo--img {
  height: 40px;
}

.nav__logo__text {
  margin-left: 16px;
  color: #243e63;
  font-weight: 900;
  text-align: start;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0 32px;*/
}

li {
  list-style: none;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  color: #243e63;
  font-weight: bold;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}

.nav__link--btn {
  margin: 0;
}

.btn {
  padding: 12px 32px;
  border: none;
  border-radius: 22px;
  color: #f7fafc;
  font-weight: bold;
  background-color: #6415ff;
}

/* Button Start */

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
  color: #243e63;
}

.btn__burger {
  display: none;
}

.btn__menu:hover {
  color: #6415ff;
  cursor: pointer;
}

.menu__backdrop {
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transform: translateX(400%);
  transition: all 700ms cubic-bezier(0.79, -0.19, 0.3, 1.47);
}

.menu--open .menu__backdrop {
  visibility: visible;
  transform: translateX(0);
}

.btn__menu--close {
  position: absolute;
  top: 8px;
  right: 16px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 18px;
  color: #1a202c;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
}

.menu__link--btn {
  background-color: #6415ff;
  border-radius: 9999px;
  color: #fff;
  padding: 12px 32px;
  transition-duration: 300ms;
}

.menu__link--btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5011cc;
}

.menu__list:last-child {
  margin: 9px 0;
}

.menu__list {
  margin: 9px 0;
  padding-bottom: 4px;
}

/* Button Finish */

.nav__underline:hover {
  border-bottom: 2px solid;
  border-color: #6415ff;
  color: #6415ff;
}

.nav__link--primary {
  background-color: #6415ff;
  border-radius: 9999px;
  color: #fff;
  padding: 12px 32px;
  transition-duration: 300ms;
}

.nav__link--primary:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5011cc;
}

.login {
  margin-left: 24px;
}

/*

HEADER

*/

.column__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row__header {
  padding: 96px 40px;

}

.column-1 {
  width: 40%;
}

.column-2 {
  width: 60%;
}

.header__title {
  font-size: 48px;
  color: #1a202c;
}

.header__para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
  line-height: 1.5;
}

.header__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-radius: 40px;
  border-color: rgb(226, 232, 240);
  position: relative;
}

.header__form:focus-within {
  outline: 1px;
}

.header__input {
  border: 2px solid #e5e7eb;
  border-radius: 9999px;
  padding: 20px 0 20px 32px;
  font-weight: 500;
  font-size: 16px;
  color: #243e63;
  width: 100%;
}

::placeholder {
  font-size: 16px;
  opacity: 0.5;
}

.header__input:focus {
  outline: none;
}

.header__btn {
  background-color: #6415ff;
  border: none;
  border-radius: 9999px;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 300ms;
}

.header__logo-strip {
  margin: 80px 0 0 0;
}

.header__logo--para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: bold;
}

.logo__img--wrapper {
  padding: 0 64px 0 0;
  margin: 16px 0 0 0;
}

.logo__img {
  width: 100%;
  opacity: 0.5;
}

.header__img {
  width: 100%;
}

/*

FEATURES

*/

#features {
  padding: 96px 0;
}

.features__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.features__columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.features__column {
  padding: 32px 8px;
  width: calc(100%/3);
  display: flex;
}

.features__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features__description--subheading {
  margin-bottom: 16px;
  font-weight: bold;
}

.features__description--heading {
  font-size: 48px;
  font-weight: 700;
  color: #243e63;
}

.features__description--para {
  margin-top: 16px;
  margin-bottom: 32px;
  width: 100%;
  max-width: 575px;
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
  line-height: 1.5;
}

.features__img--container {
  padding: 20px;
  border: solid rgb(226, 232, 240);
  border-radius: 70px;
  max-height: 67px;
}

.feature__img {
  height: auto;
  width: 24px;

}

.features__column--text {
  margin-left: 16px;
  max-width: 215px;
}

.features__column--text-title {
  color: #243e63;
}

.features__column--text-para {
  margin-top: 16px;
  color: #7c8ba1;
  line-height: 2.0;
}

/*

QUALITY

*/

#quality {
  padding: 96px 0;
}

.quality__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quality__column-1 {
  width: 50%;
  max-width: 560px;
}

.quality__description--subheading {
  font-size: 16px;
}

.quality__description--heading {
  font-size: 48px;
  color: #243e63;
  margin-top: 16px;
  font-weight: 900;
}

.quality__description--para {
  color: #7c8ba1;
  margin-top: 16px;
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: 500;
}

.quality__btn {
  margin-top: 32px;
}

.quality__column-2 {
  width: 50%;
}

.quality__img--wrapper {
  width: 100%;
}

.quality__img {
  width: 100%;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  border-radius: 4px;
}

/*

STEPS

*/

#steps {
  padding: 96px 0;
}

.steps__columns {
  display: flex;
  width: 100%;
}

.steps__column-1 {
  width: 50%;
}

.steps__img--wrapper {
  width: 100%;

}

.steps__img {
  width: 100%;
  max-width: 640px;
}

.steps__column-1 {
  display: flex;
  align-items: center;
}

.steps__column-2 {
  width: 50%;
  padding-left: 54px;
}

.steps__subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.steps__title {
  font-size: 48px;
  margin-bottom: 36px;
  color: rgb(36 62 99);
}

.steps__step {
  display: flex;
  margin-bottom: 24px;
}

.number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 500;
}

.steps__step--text {
  margin-left: 24px;
}

.step__heading {
  font-size: 20px;
  color: #243e63;
  margin-bottom: 8px;
}

.step__description {
  font-size: 14px;
  max-width: 320px;
  color: #718096;
  line-height: 1.9;
}

/*

VALUES

*/

#values {
  padding: 96px 0;
}

.values__columns {
  display: flex;
}

.values__column-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.values__subheading {
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
}

.values__heading {
  max-width: 575px;
  font-size: 48px;
  margin-top: 16px;
  color: #243e63;
  font-weight: 700;
}

.values__para {
  font-size: 18px;
  color: #7c8ba1;
  margin-top: 32px;
  line-height: 1.5;
  font-weight: 500;
}

.values__svg-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.values__features {
  max-width: none;
  display: flex;
  flex-direction: row;
}

.values__feature {
  margin: 32px 8px 0 0;
  width: 50%;
}

.values__svg--wrapper {
  width: 36px;
  height: 36px;
  background-color: #9ae6b4;
  padding: 8px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

.values__feature--header {
  font-size: 20px;
  color: #243e63;
  text-align: center;
  margin-left: 12px;
}

.values__feature--para {
  margin-top: 12px;
  font-size: 16px;
  color: #718096;
  line-height: 1.5;
}

.values__btn {
  margin-top: 48px;
  max-width: 138px;
}

.values__column-2 {
  width: 50%;
  display: flex;
  align-items: center;
}

.values__img {
  width: 100%;
}

/*

PRICING

*/

#pricing {
  padding: 96px 0;
}

.pricing__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing__header--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing__header--subtitle {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .05em;
}

.pricing__header--title {
  font-size: 48px;
  margin-top: 16px;
  color: rgb(36 62 99);
  font-weight: 700; 
}

.pricing__header--para {
  font-size: 18px;
  color: #7c8ba1;
  margin-top: 16px;
  max-width: 575px;
  text-align: center;
  line-height: 1.5;
}

.pricing__plan--container {
  display: flex;
  width: 100%;
}

.pricing__plan {
  width: calc(100%/3);
  margin: 64px 32px 0 0;
  position: relative;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plan__highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__highlight--enterprise {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__plan--header {
  text-align: center;
  padding: 40px 0;
  border: solid;
  border-color: rgb(226, 232, 240);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__header--name {
  font-size: 20px;
  font-weight: bold;
  color: #1a202c;
}

.plan__header--price {
  font-size: 48px;
  color: #1a202c;
  font-weight: bold;
  margin-top: 12px;
}

.plan__header--duration {
  font-size: 16px;
  color: #a0aec0;
  font-weight: bold;
  margin-top: 12px;
  letter-spacing: .05em;
}

.pricing__plan--features {
  text-align: center;
  padding: 32px;
  border: solid;
  border-color: rgb(226, 232, 240);
}

.plan__feature--main {
  font-size: 20px;
  font-weight: bold;
  color: #1a202c;
}

.plan__feature {
  font-size: 16px;
  color: #718096;
  margin-top: 20px;
}

.pricing__plan--action {
  text-align: center;
  padding: 32px 64px;
  border: solid;
  border-color: rgb(226, 232, 240);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.pricing__plan--business {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  border-radius: 0.5rem;
}

.business__name,
.business__price,
.business__feature--main {
  color: #f7fafc;
}

.business__duration {
  color: #edf2f7;
}

.business__feature {
  color: #e2e8f0;
}


.plan__btn {
  border: none;
  border-radius: 9999px;
  padding: 12px 48px;
  font-size: 14px;
  color: #f7fafc;
  font-weight: bold;
  letter-spacing: .05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.plan__btn--indv {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__btn-bus {
  background-color: rgb(247 250 252);
  color: rgb(100 21 255);
}

.plan__btn-ent {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/

#testimonials {
  padding: 96px 0;
}

.testim__column--container {
  width: 100%;
  display: flex;
}

.testim__column-1 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testim__img {
  width: 100%;
}

.testim__column-2 {
  width: 60%;
  padding-left: 60px;
}

.testim__subheading,
.testim__para,
.customer__title {
  font-size: 16px;
  color: #7c8ba1;
  line-height: 1.5;
}

.testim__subheading {
  margin-bottom: 16px;
  font-weight: bold;
  letter-spacing: .05em;
}

.testim__title {
  font-size: 48px;
  color: #243e63;
  margin-bottom: 24px;
}

.testim__para {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 48px;
}

.testim__rating--container {
  color: #fabf2a;
  margin-bottom: 16px;
}

.testim__rating--heading {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 16px;
}

.testim__rating--quotation {
  color: #4a5568;
  margin-bottom: 40px;
  line-height: 1.5;
}

.testim__customer--info {
  display: flex;
}

.customer__pic {
  width: 80px;
  border-radius: 40px;
}

.testim__customer--text {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer__name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
}

/*

DEVELOPERS

*/

#developers {
  padding: 96px 0;
}

.developers__text--container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6415ff;
  padding: 100px 0;
  border-radius: 10px;
  position: relatives;
}

.developers__text--wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.developers__text {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  max-width: 480px;
  line-height: 1.5;
}

.developers__btn--container {
  display: flex;
  justify-content: space-between;
}

.developers__btn--started {
  color: #f7fafc;
  font-size: 16px;
  font-weight: bold;
  margin-right: 32px;
  padding: 20px 40px;
  border-radius: 9999px;
  border: none;
  background-color: #F56565;
}

.developers__btn--contact {
  color: #f7fafc;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 9999px;
  background-color: #6415ff;
  border: solid;
  border-color: rgb(160 174 192);
  right: 0;
}

/*

FOOTER

*/

#footer {
  padding-top: 96px;
}

.footer__container {
  width: 100%;
  background-color: #6415ff;
}

.footer__row {
  display: flex;
  flex-direction: column;
}

.footer__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links--wrapper{
  margin-top: 48px;
}

.footer__title {
  font-size: 16px;
  color: #f7fafc;
  font-weight: 700;
}

.footer__link {
  font-size: 14px;
  color: #f7fafc;
  margin-top: 12px;
}

.footer__link--list {
  margin-top: 24px;
}

.footer__divider {
  margin: 60px 0;
  width: 100%;
  border: solid;
  border-bottom-width: 1px;
  border-color: rgb(116 44 255);
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__img--wrapper {
  height: 32px;
}

.footer__img {
  width: 32px;
}

.footer__logo--text {
  font-size: 20px;
  color: #f7fafc;
  margin-left: 8px;
  font-weight: 700;
}

.footer__copyright {
  font-size: 16px;
  color: #cbd5e0;
}

.social__link--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social__link--wrapper {
  height: 32px;
  width: 32px;
  margin-right: 16px;
  padding: 8px;
  background-color: rgb(247 250 252);
  border-radius: 9999px;
}

.social__link {
  width: 16px;
  height: 16px;
  color: rgb(26 32 44);
}

/* SMALL LAPTOPS */
@media (max-width:1170px) {
  .header__title {
    font-size: 36px;
  }

  .header__para {
    font-size: 16px;
  }
}

@media (max-width:1020px) {
  .nav__links {
    display: none;
  }

  .btn__burger {
    display: block;
  }

  .row__header {
    display: flex;
    flex-direction: column;
  }

  .column__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    font-size: 30px;
  }

  .column-1 {
    width: 100%;
    max-width: 512px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__form {
    max-width: 448px;
  }

  .header__logo-strip {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo__img--wrapper {
    padding: 0;
  }

  .column-2 {
    width: 100%;
  }

  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin-top: 48px;
  }

  .features__column {
    width: calc(100%/2);
    justify-content: center;
  }
  
  .quality__description--heading {
    font-size: 36px;
  }
  
  .quality__description--para {
    font-size: 16px;
  }

  .quality__column-1 {
    padding-right: 54px;
  }

  .steps__title {
    font-size: 36px;
  }

  .values__heading {
    font-size: 36px;
  }

  .values__para {
    font-size: 16px;
  }

  .values__features {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .values__feature {
    width: 100%;
    max-width: 288px;
  }

  .pricing__plan--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pricing__plan {
    width: calc(100%/1);
    max-width: 384px;
  }

  .developers__text--wrapper {
    display: flex;
    flex-direction: column;
  }

  .developers__text--container {
    padding: 80px 0;
  }

  .developers__text {
    text-align: center;
  }

  .developers__btn--container {
    margin-top: 24px;
  }

}

@media (max-width:760px) {
  .pricing__header--title {
    font-size: 36px;
  }
  .testim__column--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testim__column-1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .testim__img {
    width: 100%;
    max-width: 448px;
  }

  .testim__title {
    font-size: 30px;
  }

  .testim__column-2 {
    text-align: center;
    width: 100%;
    max-width: 448px;
    padding: 0;
    margin-top: 64px;
  }

  .testim__customer--info {
    display: flex;
    justify-content: center;
  }

  .footer__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__links--wrapper {
    width: calc(100%/3);
    text-align: center;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__copyright {
    margin-top: 32px;
  }

  .social__link--wrapper {
    margin-top: 32px;
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width:640px) {

  .header__form {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .header__input {
    display: flex;
    flex-direction: column;
  }

  .header__btn {
    width: 100%;
    position: static;
    margin-top: 16px;
    padding: 16px;
  }

  .features__description--heading {
    font-size: 36px;
    text-align: center;
  }

  .features__description--para {
    font-size: 16px;
  }

  .features__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    text-align: center;
  }

  .features__column--text {
    margin: 16px 0 0 0;
    width: 100%;
    max-width: 336px;
  }

  .features__column--text-para {
    margin-top: 4px;
  }

  .quality__wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .quality__column-1 {
    width: 100%;
    max-width: 448px;
    margin-top: 48px;
    text-align: center;
    padding: 0;
  }

  .quality__column-2 {
    width: 100%;
    max-width: 448px;
  }

  .quality__description--heading {
    font-size: 30px;
  }

  .steps__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__column-1 {
    width: 100%;
    max-width: 448px;
  }

  .steps__column-2 {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 64px;
  }

  .steps__title {
    font-size: 30px;
  }

  .steps__step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__step--text {
    margin: 0;
  }

  .values__columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .values__column-1 {
    width: 100%;
    max-width: 448px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 64px;
  }

  .values__column-2 {
    width: 100%;
    max-width: 448px;
  }

  .values__heading {
    font-size: 30px;
  }

  .values__features {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .values__feature {
    width: 100%;
    max-width: 320px;
    margin-right: 0;
  }

  .values__svg-header {
    justify-content: center;
  }

  .pricing__header--title {
    font-size: 36px;
    text-align: center;
  }

  .pricing__header--para {
    font-size: 16px;
  }

  .pricing__plan {
    margin-right: 0;
  }

  .developers__text {
    font-size: 24px;
  }

  .developers__btn--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }

  .developers__btn--started {
    margin-right: 0;
    font-size: 14px;
    padding: 12px 24px;
  }

  .developers__btn--contact {
    margin-top: 16px;
    font-size: 14px;
    padding: 12px 24px;
  }
 
}


/*SMART PHONES */
@media (max-width:550px) {
  
}



